@import "tailwindcss";

@theme {
  --color-nike-black: #111111;
  --color-nike-white: #ffffff;
  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #e5e5e5;
  --color-grey-300: #cacacb;
  --color-grey-500: #707072;
  --color-grey-700: #39393b;
  --color-grey-800: #28282a;
  --color-grey-900: #1f1f21;
  --color-nike-red: #d30005;
  --color-success: #007d48;
  --color-link-blue: #1151ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #111111;
  margin: 0;
}
